<%include header.ejs %>
                    <div class="myOrders-list" >
                      <form id="order-form" method="post" action="/sendOrder">
                        <div id="order-items">
                        </div>
                         <textarea placeholder="add any note .."></textarea>
                         <br/>
                          <p>Room</p>
                          <select id="room-list" name="room">
                              <%rooms.forEach(function(room){%>
                                    <option value="<%=room%>"><%=room%></option>
                              <%});%>
                          </select>
                          <br />
                          <hr/>
                          <br />
                          <p style="text-align:right; padding-right:5px;" id="total-order">0</p>
                          <div class="center">
                            <button type="submit" id="submit-order" class="btn btn-default">Order</button>
                          </div>
                        </form>
                    </div>
                     <div class="left-block">
                        <div id="selected-products">
                        </div>
                          <hr  />
                          <div id="Products-list ">
                            <%  if(products){ %>
                                <%  products.forEach(function(product){ %>
                                  <div class="product">
                                      <img src="/images/<%= product.img%>"/>
                                      <small><%= product.id%></small>
                                      <p><%= product.name%></p>
                                      <p><%= product.price%> </p>
                                  </div>
                                <%});%>
                            <% } %>
                          </div>
                    </div>
                  </div>
<%include fotter.ejs %>
